{
  "SESSION_SECRET": "DEFAULT",
  "LOGGER_SILENT": "false",
  "LOGGER_LEVEL": "info",
    
  "KANCOLLE_SERVER_MASTER": "http://203.104.209.7",
  "KANCOLLE_SERVER_1"     : "http://203.104.209.71",
  "KANCOLLE_SERVER_2"     : "http://203.104.209.87",
  "KANCOLLE_SERVER_3"     : "http://125.6.184.16",
  "KANCOLLE_SERVER_4"     : "http://125.6.187.205",
  "KANCOLLE_SERVER_5"     : "http://125.6.187.229",
  "KANCOLLE_SERVER_6"     : "http://125.6.187.253",
  "KANCOLLE_SERVER_7"     : "http://125.6.188.25",
  "KANCOLLE_SERVER_8"     : "http://203.104.248.135",
  "KANCOLLE_SERVER_9"     : "http://125.6.189.7",
  "KANCOLLE_SERVER_10"    : "http://125.6.189.39",
  "KANCOLLE_SERVER_11"    : "http://125.6.189.71",
  "KANCOLLE_SERVER_12"    : "http://125.6.189.103",
  "KANCOLLE_SERVER_13"    : "http://125.6.189.135",
  "KANCOLLE_SERVER_14"    : "http://125.6.189.167",
  "KANCOLLE_SERVER_15"    : "http://125.6.189.215",
  "KANCOLLE_SERVER_16"    : "http://125.6.189.247",
  "KANCOLLE_SERVER_17"    : "http://203.104.209.23",
  "KANCOLLE_SERVER_18"    : "http://203.104.209.39",
  "KANCOLLE_SERVER_19"    : "http://203.104.209.55",
  "KANCOLLE_SERVER_20"    : "http://203.104.209.102"
}