language: node_js
node_js:
  - "6"
  - "5"

before_install:
  - travis_retry npm install

script:
  - npm run coverage

after_script:
  - "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"