* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #eee;
  font-family: 'FontAwesome', san-serif;
  margin: 0;
}

.clearfix {
  clear: both;
}

header {
  overflow: auto;
}

#header-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  overflow: auto;
  background-color: #fff;
  width: 95%;
  margin: 30px auto;
  border-radius: 25px;
}

/* Start Banner */
.banner {
  position: relative;
  font-size: 2.0em;
  text-decoration: none;
}
.banner-bg {
  background:url(/res/img/banner.jpg) no-repeat top center / cover;
  background-attachment:  fixed;
  position: relative;
  height: 100vh;
  overflow: hidden;

}
.banner-content {
  background-color: rgba(0,0,0,0.4);
  box-shadow: 0px 0px 40px 5px #f2e1f2;
  padding: 20px 80px;
  position: absolute;
  left: 10%;
  bottom: 20%;
  border-radius: 5%;
  height: 48%;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
  text-align: center;
  margin: auto;
  top: 80px;
}
.banner-content #logo {
  position: absolute;
  width: 44%;
  left: -20%;
  top: -20%;
}
#launcher {
  margin-top: 20px;
  -webkit-filter: drop-shadow(0px 0px 5px #f2e1f2);
  filter: drop-shadow(0px 0px 5px #f2e1f2);
}
#launcher:hover {
  -webkit-filter: drop-shadow(0px 0px 15px #f2e1f2);
  filter: drop-shadow(0px 0px 15px #f2e1f2);
  cursor: pointer;
}
.hr-line {
  margin-top: 20px;
  border-bottom: 1px solid white;
}
.github {
  position: absolute;
  top: 85%;
  left: 90%;
  background-color: rgba(0,0,0,0.6);
  border-radius: 20%;
  padding: 10px;
  color: #fff;
  transition: background-color 0.2s ease;
}
.github:hover {
  background-color: rgba(0,0,0,0.8);
}
/* End Banner */

/* Start Feature */
.one-third {
  float: left;
  width: 33.33%;
  padding: 40px 0;
  text-align: center;
}
/* End Feature */

/* Start Login Modal */
.modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 9999;
  opacity:0;
  pointer-events: none;
}
.modal-dialog:target {
  opacity:1;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: auto;
}
.modal-dialog > div {
  width: 41%;
  position: relative;
  margin: 10% auto;
  padding: 10px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

/* -- Start Tabs -- */
.modal-dialog input.tabs, .modal-dialog section {
  display: none;
}
.modal-dialog section {
  border-top: 1px solid #ddd;
}
label.tabs {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}
label.tabs:before {
  font-weight: normal;
  margin-right: 10px;
}
label.tabs:hover {
  color: #888;
  cursor: pointer;
}
input:checked + label.tabs {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}
#session:checked ~ #form-session,
#account:checked ~ #form-account {
  display: block;
}
/* -- End Tabs -- */
/* -- Start Form -- */
.modal-dialog form {
  /*background-color: orange;*/
  width: 95%;
  padding: 25px 20px;
}
.modal-dialog input,
.modal-dialog textarea {
  display: block;
  font-size: 1.25em;
  margin: 4px 0 25px 0;
  border-radius: 10px;
}
.modal-dialog span {
  font-size: 1.5em;
  font-weight: 600;
}
.modal-dialog input {
  padding: 10px 20px;
  width: 90%;
}
.modal-dialog button[type="submit"] {
  margin: 0 12%;
  width: 70%;
  height: 55px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 1.3em;
  letter-spacing: 2px;
  background-color: #2280c3;
  color: #f5f5f5;
  transition: background-color 0.5s ease;
}
.modal-dialog button[type="submit"]:hover {
  background-color: #3c9add;
  cursor: pointer;
}
/* -- End Form -- */
/* End Login Modal*/

/* Start Footer */
footer.second {
  width: 100%;
  background: linear-gradient(#5070AD, #284F94);
  padding: 15px 0;
  letter-spacing: 2px;
  line-height: 25px;
  border-top: 5px solid hsl(0, 0%, 80%);
}
footer.second p, footer.second a {
  color: white;
  text-align: center;
  text-decoration: none;
}
footer.second a:hover {
  color: black;
}
/* End Footer */
