<!-- Start  Banner -->
<header class="banner">
  <div class="banner-bg">
    <div class="banner-content">
      <h1><span class="text-overlay">Modcolle</span></h1>
      <p><span class="text-overlay">Kancolle Proxy Server</span></p>
    </div>
    <div class="btn-play">
      <a href="#">Play</a>
    </div>
    <nav>
      <div class="nav-bar">
        <ul>
          <li><a href="#">F.A.Q</a></li>
          <li><a target="_blank" href="https://github.com/makemek/Modcolle"><i class="fa fa-github fa-lg" aria-hidden="true"></i> Contribute</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div class="clearfix"></div>
<!-- End Banner -->

<!-- Start Features -->
<div class="container">
  <section class="one-third">
    <img src="http://placehold.it/240x240?text=full-screen">
    <h1>Full-screen Gameplay</h1>
    <p>Feature description...</p>
  </section>
  <section class="one-third">
    <img src="http://placehold.it/240x240?text=translation">
    <h1>In-game Translation</h1>
    <p>Feature description...</p>
  </section>
  <section class="one-third">
    <img src="http://placehold.it/240x240?text=compatible">
    <h1>Compatible with Kancolle Viewer</h1>
    <p>Feature description...</p>
  </section>
</div>
<div class="clearfix"></div>
<!-- End Features -->

<!-- Start Disqus Section -->
<section class="disqus">
  
</section>
<div class="clearfix"></div>
<!-- End Disqus Section -->

<form action="/dmm-account" method="POST">
  <fieldset>
    <legend>Login by DMM Account</legend>
    <label>Email:</br>
    <input type="email" name="username" size="30" required="required"></br></label>
    <label>Password:</br>
    <input type="password" name="password" size="30" required="required"></br></label>
    <input type="submit" name="submit" value="Login">
  </fieldset>
</form>

<form action="/dmm-session" method="POST">
  <fieldset>
    <legend>Login by DMM Session</legend>
    <label>Session ID</br>
    <textarea rows="10" cols="50" name="dmm_session"></textarea></br>
    <input type="submit" name="submit" value="Login">
  </fieldset>
</form>