<!-- Start  Banner -->
<header class="banner">
  <div class="cover">
    <img src="img/cover-bg.jpg" class="background cloud">
    <img src="img/plane-small.png" class="background plane-small-alt-high">
    <img src="img/plane-small.png" class="background plane-small-alt-med">
    <img src="img/plane-small.png" class="background plane-small-alt-low">
    <img src="img/kaga.png" class="background kaga">
  </div>
  <div class="banner-content-wrapper">
    <div class="banner-content">
      <h1><i class="fa fa-anchor fa-2x logo"></i></h1>
      <h1>Modcolle</h1>
      <p>Kancolle Proxy Server</p>
      <div class="hr-line"></div>
      <a href="#login" title="Launch"><img id="launcher" src="img/launcher.png" alt="Launch"></a>
    </div>
  </div>
  <a class="github" href="https://github.com/makemek/Modcolle" title="View on Github" target="_blank"><i class="fa fa-github"></i></a>
</header>
<div class="clearfix"></div>
<!-- End Banner -->

<!-- Start Features -->
<div class="container">
  <section class="one-third">
    <span class="icon"><i class="fa fa-laptop" aria-hidden="true"></i></span>
    <h1>Full-screen Gameplay</h1>
    <p>Feature description...</p>
  </section>
  <section class="one-third">
    <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
    <h1>In-game Translation</h1>
    <p>Feature description...</p>
  </section>
  <section class="one-third">
    <span class="icon"><i class="fa fa-connectdevelop" aria-hidden="true"></i></span>
    <h1>Compatible with Kancolle Viewer</h1>
    <p>Feature description...</p>
  </section>
  <div class="clearfix"></div>
</div>
<!-- End Features -->

<!-- Start Disqus Section -->
<section class="disqus">
  
</section>
<div class="clearfix"></div>
<!-- End Disqus Section -->

<div id="login" class="modal-dialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>

    <input class="tabs" id="session" type="radio" name="tabs" checked>
    <label class="tabs" for="session">By DMM Session</label>
    <input class="tabs" id="account" type="radio" name="tabs">
    <label class="tabs" for="account">By DMM Account</label>

    <section id="form-session" class="login-form">
      <form action="/dmm-session" method="POST">
        <label>
          <span>Session ID</span>
          <input type="text" name="dmm_session" placeholder="Value of cookie INT_SESID" required autofocus>
        </label>

        <button type="submit" name="submit"><i class="fa fa-sign-in fa-lg"></i> Login</button>
      </form>
    </section>

    <section id="form-account"  class="login-form">
      <form action="/dmm-account" method="POST">
        <label>
          <span>Email</span>
          <input type="email" name="username" size="30" required="required">
        </label>
        <label>
          <span>Password</span>
          <input type="password" name="password" size="30" required="required">
        </label>

        <button type="submit" name="submit"><i class="fa fa-sign-in fa-lg"></i> Login</button>
      </form>
    </section>

  </div>
</div>

<footer class="second">
  <p>Modcolle is open-source on <a href="https://github.com/makemek/Modcolle" title="Contribute">Github <i class="fa fa-github"></i></a></p>
  <p><i class="fa fa-copyright"></i> Apipol Niyomsak</p>
</footer>
<script>
var modal = document.getElementById('login');
window.onclick = function(event) {
    if (event.target == modal) {
        window.location = "#close"
    }
}
</script>
