<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico">
  <title>Kancolle</title>
</head>

<body>
  <style>
  html,body {
      height:100%;
      margin:0;
   }
  #swf-holder {
      height:100%;
   }
  #swf-holder object {
      display:block;
      width:100%;
      height:100%;
   }
  </style>

  <div id="swf-holder">
    <object id="game" type="application/x-shockwave-flash" data="{{{flashUrl}}}"></object>
  </div>
</body>
</html>
